HELP.md


**/target/**
**/classes/**
**/data/**
**/storage/**


!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**


*.log
*.gz


*.mdmp


**/node/**
**/node_modules/**
**/frontnodestorage/**


### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr
**/storage/**
**/node/**
**/node_modules/**
**/target/**